     @import url('https://fonts.googleapis.com/css?family=Baloo|Baloo+Bhaina|Cabin+Sketch|Kristi|Magra|Michroma|Questrial|Rajdhani|Syncopate&display=swap');
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      h1 { font-family: 'Questrial', sans-serif; }
      h2 { font-family: 'Baloo Bhaina', sans-serif; }
      h4 { font-variant-caps: all-small-caps; }
    